<body>

<center><i>“Sometimes our light goes out, but is blown again into instant flame by an encounter with another human being.” - Albert Schweitzer</i></center>

<br> Over half of head and neck cancer patients will receive chemotherapy and radiation therapy for 6-7 weeks. During this time, symptoms can flare suddenly. The worst symptom for patients is radiation-induced oral pain and sore throat. Between the 2nd and 4th week of treatment, pain may increase from nothing to severe (i.e., “I’m swallowing glass”) in a matter of days. Once the pain has escalated to this point, patients stop eating and drinking and often must undergo a surgical procedure for the placement of a feeding tube. <br><br>
Week to week, doctors rely largely on a patient’s memory to intervene and manage symptoms, but patient recall is notoriously unreliable, and weekly visits can leave symptoms sub-optimally managed for days.<br><br>
“Symptom Management” is a smartphone-based application which provides a more reliable method to assess symptoms in near real-time. It provides patients a simple way to work with their healthcare providers to improve management of pain and quality of care.

<br><span style="font-size: 12pt;"><b><br>Basic Project Requirements</b></span>
<br>Any potential Capstone project must support multiple users and should leverage services running remotely in the cloud. Each project's specification clearly outlines the app's intended high-level behavior, yet leaves substantial room for individual creativity. Students will therefore need to flesh out many important design and implementation details. Basic requirements for all Capstone MOOC project specifications include:
<br><ul>
<li>
<span style="font-size: 14.44px;">Apps must support multiple users via individual user accounts. At least one user-facing operation must be available only to authenticated users. </span><br>
</li>
<li>
<span style="font-size: 14.44px;">App implementations must comprise at least one instance of at least two of the following four fundamental Android components:  </span><span style="font-size: 14.44px;">Activity, BroadcastReceiver, Service and ContentProvider. </span><br>
</li>
<li>
<span style="font-size: 14.44px;">Apps must interact with at least one remotely-hosted Java Spring-based service over the network via HTTP. </span><br>
</li>
<li>
<span style="font-size: 14.44px;">At runtime apps must allow users to navigate between at least three different user interface screens. [</span><span style="font-size: 14.44px;">e.g., a hypothetical email reader app might have multiple screens, such as (1) a ListView showing all emails, (2) a detail View showing a single email, (3) a compose view for creating new emails, and (4) a Settings view for providing information about the user's email account.)</span><br>
</li>
<li>
<span style="font-size: 14.44px;">Apps must use at least one advanced capability or API from the following list covered in the MoCCA Specialization: multimedia capture, multimedia playback,
touch gestures, sensors, or animation. Experienced students are welcome to use other advanced capabilities not covered in the specialization, such as BlueTooth or Wifi-Direct networking, push notifications, or search. Moreover, projects that are specified by commercial organizations may require the use of additional organization-specific APIs or features not covered in the MoCCA Specialization. In these cases, relevant instructional material will be provided by the specifying organization. </span><br>
</li>
<li>
<span style="font-size: 14.44px;">Apps must support at least one operation that is performed off the UI Thread in one or more background Threads or a Thread pool. </span><br>
</li>
</ul>
There may also be additional project-specific requirements (e.g., required use of a particular project-specific API or service).
<br><br><span style="font-size: 12pt;"><b>Basic Functional Description and App Requirements for Symptom Management</b></span>
<br><ol>
<li>The <em>Patient</em> is the primary user of the mobile app.</li>
<li>
The Patient will receive a <em>Reminder</em> in the form of alarms or notifications at Patient-adjustable times, at least four times per day.</li>
<li>
Once the Patient acknowledges a Reminder, the app will open for a <em>Check-In</em>.</li>
<li>
During a Check-In, the Patient is asked, “How bad is your mouth pain/sore throat?” and can respond with “well-controlled,” “moderate,” or “severe.”</li>
<li>
During a Check-In, the Patient is asked, “Did you take your pain medication?”</li>
<li>
If a Patient is taking more than one type of pain medication, each medication will require a separate question during the Check-In (e.g., “Did you take your Lortab?” followed by “Did you take your OxyContin?”). The Patient can respond to these questions with “no” or “yes.”</li>
<li>
During a Check-In, if a Patient indicates he or she has taken a pain medication, the Patient will be prompted to enter the time and date he or she took the specified medicine.</li>
<li>
During the Check-In, a Patient is asked, “Does your pain stop you from eating/drinking?” To this, the Patient can respond, “no,” “some,” or “I can’t eat.”</li>
<li>
A Patient’s <em>Doctor</em> is able to monitor a Patient’s Check-Ins with data displayed graphically.</li>
<li>
A Doctor can see all his/her Patients and search for a given Patient’s Check-In data by the patient’s name.</li>
<li>
A Doctor can update a list of pain medications associated with a Patient’s account. This data updates the tailored questions regarding pain medications listed above in (6).</li>
<li>
A Doctor is alerted if a Patient experiences 12 hours of “severe pain,” 16 hours of "moderate" to "severe pain," or 12 hours of “I can’t eat.”</li>
<li>
A Patient’s data should only be accessed by his/her Doctor(s) over HTTPS.</li>
</ol>
<span style="font-size: 12pt;"><b><br>Implementation Considerations </b></span>
<br><ul>
<li>
<span style="font-size: 14.44px;">How will Check-In data be transferred from a Patient’s device to his/her Doctor? </span><br>
</li>
<li>
<span style="font-size: 14.44px;">How will you store the data on the server-side so that patients are associated with doctors? You may use a hard-coded set of patient and doctor user accounts provided by an in-memory UserDetailsService. You may also hard-code the relationship between patients and doctors.</span><br>
</li>
<li>
<span style="font-size: 14.44px;">What will the user interface look like for a Patient so that it is quick and simple to use?</span><br>
</li>
<li>
<span style="font-size: 14.44px;">How will Reminders be delivered to a Patient in a way that will help the Patient to use the app more frequently and consistently?</span><br>
</li>
<li>
<span style="font-size: 14.44px;">How will a Patient’s data be securely transferred to the server?</span><br>
</li>
<li>
<span style="font-size: 14.44px;">How will a Doctor be able to update medication lists for a specific Patient, and how will these updates be sent to that Patient’s device?</span><br>
</li>
<li>
<span style="font-size: 14.44px;">What will the user interface look like for a Doctor?</span><br>
</li>
<li>
<span style="font-size: 14.44px;">How will a Doctor be alerted if a Patient has alarming symptoms?</span><br>
</li>
<li>
<span style="font-size: 14.44px;">How, when, and how often will the user enter their user account information? For example, will the user enter this information each time they run the app? Will they specify the information as part of a preference screen?</span><br>
</li>
<li>
<span style="font-size: 14.44px;">What user preferences can the user set? How will the app be informed of changes to these user preferences?</span><br>
</li>
<li>
<span style="font-size: 14.44px;">How will the app handle concurrency issues, such as how will periodic updates occur - via server push or app pull? How will search queries and results be efficiently processed? Will the data be pulled from the server in multiple requests or all at one time?</span><br>
</li>
<li>How will the app use at least one advanced capability or API listed above? For example, will you create an animation to explain the app? Will you allow patients to take pictures of mouth sores when their pain is high? Will you use push notifications to prompt users for pain information? Will you allow users to employ simple gestures to snooze pain prompts for a set amount of time?<br>
</li>
<li>
<span style="font-size: 14.44px;">Does your app really require two or more fundamental Android components? If so, which ones? For example, this app might benefit from using a ContentProvider or from using a background Service that synchronizes local and remote data, only when the device is connected to a WiFi network.</span><br>
</li>
</ul>
<hr>

</body>