<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Patient details</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">

    <!--************************ page content ************************************************-->

    <!--************************ FRAGMENT "PATIENT INFO"  ************************************-->
    <div th:fragment="patient_info">

        <h4>MRN: <em><span th:text="${patient.mrn}"/></em></h4>

        <h3>First name: <em><span th:text="${patient.firstName}"/></em></h3>

        <h3>Last name: <em><span th:text="${patient.lastName}"/></em></h3>

        <h4>Gender: <b><i th:text="${patient.gender}"></i></b>, Age: <b><i th:text="${patient.age}"></i></b></h4>
        <h4>Diagnosis: <em th:text="${patient.diagnosis}"></em></h4>

    </div>
    <!--************************ END OF FRAGMENT "PATIENT INFO"  ************************************-->

    <h4>Short description: <br/>
        <i th:text="${patient.description}"></i></h4>

    <h4>
        Pain medication: <span th:each="m: ${patient.medication}" th:text="${m}"/>
        <a th:href="@{'/medication'(pId=${patient._id})}">
            <button class="btn btn-primary btn-xs">add new</button>
        </a>
    </h4>
    <!--************************ FORMS - HELPERS  ************************************-->
    <form action="/patients" id="ok"/>
    <form th:action="@{'/update/' + ${patient._id}}" id="update"/>
    <form th:action="@{'/delete/' + ${patient._id}}" method="post" id="del"/>

    <!--************************ BUTTONS  ********************************************-->
    <button form="ok" type="submit" class="btn btn-success">Ok</button>
    <button form="update" type="submit" class="btn btn-default">Update</button>
    <button form="del" type="submit" class="btn btn-danger">Delete</button>
    <p/>
    <form role="form" th:action="@{'/notify/' + ${patient._id}}" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="msg" placeholder="Message for the patient..."/>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Submit"/>
        </div>
    </form>

    <!--******************** end page content ************************************************-->

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>